body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.reason-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.reason-category {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reason-description {
    margin-bottom: 10px;
}

.course-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.course-category {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-list {
    list-style-type: none;
    padding: 15px;
    border: 1px solid #bbb;
}


.course-name {
    font-weight: bold;
}

.credit-hour {
    margin-left: 10px;
    color: #666;
}
#uploadForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#uploadForm div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
} */

input[type="submit"]:hover {
    background-color: #45a049;
}

.incomplete-reason {
    color: red;
    font-weight: bold;
}